extends ../layouts/file
include ../helpers/mixins
include ../../blocks/components/breadcrumbs/breadcrumbs.pug
include ../../blocks/components/form/form.pug
include ../../blocks/components/file-upload/file-upload.pug
include ../../blocks/components/checkbox/checkbox.pug
include ../../blocks/components/headers/headers.pug


block variables
    - const title = "Главная"
block content
    section.reader
        .reader__preview
            #reader
        .reader__options
        .reader__input
            input(type="file" id="qr-input-file" accept="image/*")
block scripts
    script(src="js/main.js")
    script(src="js/camera.js")